@inject Microsoft.Extensions.Localization.IStringLocalizer<WebApplication1.SharedResource> Localizer

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Auto Oglasi</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light border-bottom mb-3">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">@Localizer["Home"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="About">@Localizer["About"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Contact">@Localizer["Contact"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Automobili" asp-action="Index">@Localizer["Ads"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Automobili" asp-action="Create">@Localizer["AddCar"]</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Admin" asp-action="Login">@Localizer["Admin"]</a>
                    </li>
                </ul>
            </div>
            <div class="dropdown me-3">
                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown">
                    @Localizer["Language"]
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/Home/SetLanguage?culture=sr&returnUrl=@Context.Request.Path">Srpski</a></li>
                    <li><a class="dropdown-item" href="/Home/SetLanguage?culture=en&returnUrl=@Context.Request.Path">English</a></li>
                    <li><a class="dropdown-item" href="/Home/SetLanguage?culture=de&returnUrl=@Context.Request.Path">Deustch</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <main role="main" class="flex-grow-1 pb-3 container">
        @RenderBody()
    </main>

    <footer>
        <div class="container">
            &copy; 2026 - Auto Oglasi Hamidovic - <a asp-area="" asp-controller="Home" asp-action="Privacy">@Localizer["Privacy"]</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>